ul
{
list-style-type: none;
}

.heading {
    display: block;
    justify-content: center;
	align-items: center;
    margin: auto;
}

body {
    background: #ea9090;
    display: block;
    justify-content: center;
    text-align: center;
}

.words {
    text-align: center;
    justify-content: center;
    margin: auto;
}

img {
    height: 500px;
    padding: 10px;
    box-shadow: inset 0 0 0 10px #5f0d0d; 
}

p {
    font-size: 24px;
    color: #5f0d0d;
}

footer {
    font-size: 16px;
}